h1, button, h2, div{
    border: 1px solid black;
}

/* you can do this to do both:
h1, p, button{
*/

h1, h2{
    /* height: 400px; */
    width: 200px;
    /* font-size: 60px; */
}

button{
    height: 100px;
    width: 100px;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 30px 20px 15px 3px black;
            /* horizontal vertical blur size*/
}

#like-btn{
    margin-right: 20px;
}

div{
    height: 200px;
    /* width: 100px; */
    background-color: teal;
    overflow-y: scroll; /* very cool! */
    border: 2px outset red;
    border-radius: 10px;
    /* padding: 20px 0px 30px 40px; */
    padding: 20px 50px;
    margin-top: 100px;
    /* For a perfect circle, the hieght & width have to be the same size and border-radius: 50% */
}