*{ /* */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav-bar{ /* This encompasses the whole header and navigation bar */
    background-color: black;
    /* height: 100px; */
    display: flex; /* This has to be flex so the button can be beside the nav-left  */
    justify-content: space-between;
    align-items: center;
    padding-left: 100px; /* To push off from the left side of the screen */
    font-family: sans-serif;
}

#nav-left{
    /* outline: 5px solid navy; */
    color: white;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    padding: 18px 100px;
    list-style-type: none;
}

#submit{
    background-color: #17A2B8;
    color: white;
    padding: 5px 15px;
    margin-right: 200px; /* This pushes the button away from the end of the webpage. */
    font-size: 1.1rem;
}

#nav-left a{
    padding: 30px;
    color: white;
    text-decoration: none;
}

h1{
    font-size: 35px;
    padding-right: 20px; /* This is to move "Profile" away from "Home" */
}


